<% provide(:title, 'Home') %>
<h1>Micropost App</h1>
<p>This is the home page for a microblogging engine built using Ruby on Rails</p>

<%= link_to "Sign up now!", '#', class: "signup_button round" %>